.containerMain {
  display: flex;
  flex-direction: column;
  width: var(--page-inline-width);
  margin-inline: auto;
  margin-bottom: 1rem;
}

.containerMain2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image {
  width: 35rem;
  height: auto;
  display: block;
  border-radius: 1rem;
  box-shadow: 0px 2px 15px -3px var(--color1_2);
}

.containerText {
  display: flex;
  flex-direction: row;
  width: 500px;
  text-align: left;
  align-self: left;
}

.containerText p {
  line-height: 1.6;
}

.heading {
  align-self: flex-start;
}
