.containerMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--page-inline-width);
  margin-inline: auto;
  margin-bottom: 3rem;
}

.containerMain2 {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  /* flex: 1; */
}
.image {
  width: 500px;
  height: auto;
  display: block;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px var(--color1_2);
  margin-top: 0rem;
}

.containerText {
  display: flex;
  flex-direction: row;
  width: 500px;
  text-align: left;
  align-self: left;
  margin-top: 4rem;
}

.containerText p {
  line-height: 1.8;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  align-self: flex-start;
}
