.footer {
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  height: var(--footer-height);
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  border-top: solid 1px;
  color: var(--color2);
}

.footerItems {
  display: flex;
  gap: 2rem;
  /* margin-right: 1rem; */
  align-items: center;
}

.link {
  display: flex;
  opacity: 1;
  transition: color 0.2s ease;
  font-size: 0.9rem;
}

.link:hover {
  color: var(--color2_1);
  opacity: 0.9;
}
