.footer {
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  margin-top: 1.5rem;
  border-top: solid 1px;
  color: var(--color2_1);
}

.footerItems {
  display: flex;
  gap: 40px;
  /* margin-right: 1rem; */
  align-items: center;
}

.link {
  display: flex;
  opacity: 1;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--color2);
  opacity: 0.9;
}
