.containerMain {
  display: flex;
  flex-direction: column;
  width: var(--page-inline-width);
  margin-inline: auto;
  margin-bottom: 3rem;
}

.containerMain2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image {
  width: 500px;
  height: auto;
  display: block;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem white;
}

.containerText {
  display: flex;
  flex-direction: row;
  width: 500px;
  text-align: left;
  align-self: left;
}

.containerText p {
  line-height: 1.8;
}

.heading {
  font-size: 2rem;
  /* margin-bottom: 1rem; */
  align-self: flex-start;
}
