:root {
  /*Hauptfarben*/
  --color1: #2c6981;
  --color1_1: #2c6981cf;
  --color1_2: #2c698161;
  --color1_3: #2c698138;
  --color1_4: #2c69811d;
  --color2: #fff8f2;
  --color2_1: #fff7f147;
  --color3: #12373e;
  --color4: #e8a87c;
  --color4_1: #e8a77c23;
  --color5: rgb(255, 255, 255);
  /*Faboptionen*/
  --suslcolor: #2c6981;
  --sanftesRosa: #e7c0be;
  --warmesApricot: #e8a87c;
  --dunkelSchwarz: #040a11;
  --blauSchwarz: #091c20;
  --eierschale: #fffbeb;
  --eierschale2: #fffcf1;
  --hellerSand: #f2b880;
  --page-max-width: 1200px;
  --page-inline-width: min(90vw, var(--page-max-width));
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--color1);
  background: var(--color2);
  font-family: var(--font-noto-sans-jp), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3rem;
  font-weight: 200;
  padding-bottom: 2rem;
  padding-top: 2rem;
  z-index: 1;
  opacity: 1;
}

.photoDescription {
  font-size: 0.9rem;
  opacity: 0.8;
  color: var(--color1_1);
  padding-top: 2px;
}

.containerLayout {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* @media (min-width: 960px) {
  .containerMain {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .containerMain {
    max-width: 1280px;
  }
} */

p {
  font-size: 17px;
}
