:root {
  /*Hauptfarben*/
  --color1: #2c6981;
  --color1_1: #2c6981d5;
  --color1_2: #2c698161;
  --color1_3: #2c698138;
  --color1_4: #2c69811d;
  --color2: #fbf5ed;
  --color2_1: #fff7f147;
  --color3: #154048;
  --color4: #e8a87c;
  --color4_1: #e8a77c23;
  --color5: rgb(255, 255, 255);
  --color6: #fac388;
  --color6_1: #fac38869;

  /*Faboptionen*/
  --suslcolor: #2c6981;
  --sanftesRosa: #e7c0be;
  --warmesApricot: #e8a87c;
  --dunkelSchwarz: #040a11;
  --blauSchwarz: #091c20;
  --eierschale: #fffbeb;
  --eierschale2: #fffcf1;
  --hellerSand: #f2b880;

  /*Widths*/
  --page-max-width: 1200px;
  --page-inline-width: min(90vw, var(--page-max-width));
  --tablet-breakpoint-width: 1024px;
  --phone-breakpoint-width: 768px;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--color1);
  background: var(--color2);
  font-family: var(--font-noto-sans-jp), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 2rem;
  padding-top: 2rem;
  z-index: 1;
  opacity: 1;
}

.photoDescription {
  font-size: 0.9rem;
  opacity: 0.9;
  color: var(--color1);
  text-align: left;
  padding-left: 0.8rem;
}

.photoDescriptionRight {
  font-size: 0.9rem;
  opacity: 0.9;
  color: var(--color1);

  padding-right: 0.8rem;
  text-align: right;
}

.containerLayout {
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media (max-width: 620) {
  body,
  html {
    --page-inline-width: min(100vw, var(--page-max-width));
  }
}

p {
  font-size: 1rem;
}
