:root {
  /*Hauptfarben*/
  --color1: #2c6981;
  --color2: #fffbeb;
  --color3: #091c20;
  /*Faboptionen*/
  --suslcolor: #2c6981;
  --sanftesRosa: #e7c0be;
  --warmesApricot: #e8a87c;
  --dunkelSchwarz: #040a11;
  --blauSchwarz: #091c20;
  --eierschale: #fffbeb;
  --eierschale2: #fffcf1;
  --hellerSand: #f2b880;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--color1);
  background: var(--color2);
  font-family: var(--font-noto-sans-jp), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
  padding-bottom: 2rem;
  padding-top: 2rem;
  z-index: 1;
}

.photoDescription {
  font-size: 1rem;
  opacity: 0.8;
}

.containerMain {
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media (min-width: 960px) {
  .containerMain {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .containerMain {
    max-width: 1280px;
  }
}
