.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--page-inline-width);
  margin-inline: auto;
  /* border: 1px solid var(--color1_1); */
  /* background-color: blueviolet; */
}
.containerMain2 {
  width: var(--page-inline-width);
  /* border: 1px solid var(--color1_1); */
  border-radius: 1rem;
  /* backdrop-filter: blur(0.5rem); */
  /* background-color: green; */
}
.containerMain3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 2rem;
  /* background-color: blue; */
  width: var(--page-inline-width);
}

.containerMain4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  /* background-color: red; */
  width: var(--page-inline-width);
}

.heading {
  font-size: clamp(1rem, 1rem + 3vw, 2.6rem);
  font-weight: 200;
  padding: 1.5rem 0rem 2rem 0rem;
  letter-spacing: 1px;
  opacity: 1;
  /* margin-top: 1rem; */
  margin-bottom: 0rem;
}

.image {
  width: 35rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0px 2px 20px -3px var(--color1_4);
}

.divider {
  width: 50%;
  background-color: var(--color1_2);
  height: 1px;
  border: none;
  opacity: 1;
  align-self: center;
}

.spruchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 35rem;
  box-shadow: 0px 2px 20px -3px var(--color1_4);
  border-radius: 1rem;
  padding: 2.5rem 2.5rem;
  margin-bottom: 20px;

  max-height: 24rem;
  align-self: center;

  /* background: #fac38822; */

  /* background-color: blue; */
}

.spruchContainer2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 39rem;
  padding: 2rem 3rem;
  min-height: 6.5rem;
  border-radius: 1.25rem;
  /* border: 1px solid var(--color1_2); */
  /* box-shadow: 0px 2px 25px -10px var(--color1_4); */
  /* background: radial-gradient(var(--color1_3), var(--color2)); */
  overflow: hidden;
  align-self: center;
  /* margin-top: 1rem; */
  /* background-color: aquamarine; */
}

.spruch {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--color1);
  opacity: 1;
  /* font-style: italic; */
  /* line-height: 2rem; */
  text-align: left;
  padding-bottom: 0.8rem;

  /* border: 1px var(--color1) solid; */
}

.spruch2 {
  position: relative;
  z-index: 1;
  font-size: 1.1rem;
  /* letter-spacing: 1px; */
  font-family: lora;
  font-weight: 100;
  font-style: italic;
  color: var(--color1);
  opacity: 0.95;
  text-align: center;

  line-height: 1.7rem;
}

.spruch2_1 {
  position: relative;
  z-index: 1;
  /* font-family: bioRhyme; */
  font-size: 0.9rem;
  /* letter-spacing: 1px; */
  font-weight: 400;
  font-style: italic;
  color: var(--color1);
  opacity: 0.85;
  text-align: right;
  padding-top: 0.2rem;
  padding-right: 1.4rem;
  /* line-height: 2rem; */
}

@media (max-width: 1023px) {
  .containerMain3 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0rem;
    gap: 2rem;
  }

  .spruchContainer,
  .spruchContainer2 {
    max-width: 35rem;
    width: 80vw;
    box-shadow: none;
    padding: 0;
  }

  .image {
    max-width: 80vw;
  }

  /* .heading {
    font-size: 6vw;
  } */
}

@media (max-width: 450px) {
  .image {
    max-width: 80vw;
  }

  .containerMain,
  .containerMain2,
  .containerMain3 .containerMain4,
  .containerMain5 {
    max-width: 100%;
  }

  /* .heading {
    font-size: 1.7rem;
  } */

  .image2 {
    object-fit: cover;
    width: 100vw;
    max-height: 20rem;
    display: block;
    border-radius: 0rem;
    box-shadow: 0px 2px 15px -3px var(--color1_2);
    align-self: center;
  }
  .containerMain5 {
    width: 20rem;
  }
  .spruch {
    font-size: 1rem;
  }
  .spruch2 {
    font-size: 0.9rem;

    font-family: lora;
    font-weight: 400;
    /* background-color: aqua; */
  }
  .spruchContainer,
  .spruchContainer2 {
    width: 85vw;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
}
