.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
}
/*
@media (min-width: 640px) {
  .containerMain {
    max-width: 720px;
  }
}

@media (min-width: 960px) {
  .containerMain {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .containerMain {
    max-width: 1280px;
  }
}
*/

@media (min-width: 960px) {
  .containerMain {
    max-width: 960px;
  }
}

.imageContainer {
  /* border: solid blue 2px; */
  max-width: 1440px;
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  border-radius: 1.5rem;

  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}
