.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
}

.imageContainer {
  position: relative;
  display: flex;
}

.imageContainer2 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 80px;
}

.spruchContainer {
  align-self: center;
  padding: 0 20 0 20;
}

.spruch {
  font-size: 24px;
}
.image {
  width: 600px;
  height: auto;
  display: block;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.container1 {
  width: 1200px;
  padding: 3rem;
  border-radius: 1.5rem;
  background-color: var(--color4);
  box-shadow: 0px 0px 3px var(--color4);
}
