.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--page-inline-width);
  margin-inline: auto;
  margin-top: 6rem;
}
.containerMain2 {
  width: var(--page-inline-width);

  border-radius: 1rem;
}
.containerMain3 {
  display: grid;
  --hero-image-width: clamp(28rem, 40vw, 32rem);
  --hero-image-height: calc(var(--hero-image-width) * 0.6667);
  grid-template-columns: minmax(0, var(--hero-image-width)) minmax(0, 28rem);
  grid-template-rows: auto auto;
  column-gap: 2rem;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 1rem;

  width: fit-content;
  max-width: 100%;
  margin-inline: auto;
}

.imageCol {
  display: contents;
}

.containerMain4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;

  width: var(--page-inline-width);
}

.heading {
  font-size: 2.2rem;
  text-align: left;
  font-weight: 300;
  padding: 0rem 0rem 2rem 0rem;
  letter-spacing: 1px;
  opacity: 1;

  text-align: left;

  max-width: 25rem;
}

.image {
  display: block;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  max-width: var(--hero-image-width);

  height: var(--hero-image-height);
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 2px 20px -3px var(--color1_4);
}

.containerMain3 :global(.photoDescription) {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
}

.spruchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  min-width: 0;
  width: fit-content;
  max-width: min(28rem, 100%);
  min-height: var(--hero-image-height);
  grid-column: 2;
  grid-row: 1;
  box-shadow: 0px 2px 20px -3px var(--color1_4);
  border-radius: 1rem;
  padding: 1rem 2rem 2rem 2rem;

  align-self: stretch;
  align-content: center;
}

.spruchContainer2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 39rem;
  padding: 3.5rem 3rem;
  min-height: 6.5rem;

  overflow: hidden;
  align-self: center;
}

.spruchContainer3 {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 40rem;

  padding: 3rem 2rem 5rem 2rem;
  margin: 0rem 0rem -2rem 0rem;
  max-height: 24rem;
  align-self: center;
}

.spruch {
  font-size: 1rem;
  font-weight: 300;

  opacity: 1;

  text-align: left;
  padding-bottom: 0.7rem;
  max-width: 85%;
  margin: 0;
}

.spruch2 {
  position: relative;
  z-index: 1;
  font-size: 1rem;

  font-weight: 300;
  font-style: italic;
  color: var(--color3);
  opacity: 1;
  text-align: center;
  line-height: 1.7rem;
}

.spruch2_1 {
  position: relative;
  z-index: 1;
  opacity: 1;

  font-size: 0.9rem;

  font-weight: 300;

  color: var(--color3);
  text-align: right;
  padding-top: 0.5rem;
  padding-right: 1.4rem;
}

.ctaButton {
  padding-top: 2rem;
  margin: 0 auto;
  display: none;
}

@media (max-width: 1023px) {
  .containerMain3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0rem;
    gap: 2rem;
    width: 100%;
  }

  .imageCol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 80vw;
    max-width: 35rem;
    min-width: 0;
  }

  .containerMain {
    margin-top: 0rem;
  }

  .spruchContainer {
    max-width: 32rem;
    width: 80vw;
    margin-inline: auto;
    box-shadow: none;
    padding: 0;
    margin-top: 2rem;
    min-height: 0;
  }

  .spruchContainer p {
    width: 100%;
    text-align: left;
  }

  .image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .spruchContainer3 {
    max-width: 35rem;
  }

  .spruchContainer2 {
    max-width: 80vw;
    width: 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 3rem 0rem;
  }

  .spruch,
  .spruch2 {
    font-size: 1rem;
    max-width: 100%;
    margin: 0;
  }
  .spruch2_1 {
    font-size: 0.9rem;
    padding: 0;
    padding-top: 0.5rem;
  }
}

@media (max-width: 450px) {
  .image {
    max-width: 100vw;
    border-radius: 0;
  }

  .imageCol {
    width: 100vw;

    min-width: 0;
  }

  .heading {
    font-weight: 300;
    font-size: clamp(1.6rem, 8vw, 2.2rem);
    padding-top: 2rem;
  }

  .spruch {
    font-size: 1rem;
  }
  .spruch2 {
    font-size: 1rem;
  }

  .spruch2_1 {
    font-size: 0.9rem;
  }
  .spruchContainer {
    width: 85vw;
    display: flex;
    padding: 0;
    margin: 0 auto;
  }

  .spruchContainer p {
    text-align: left;
    width: 85vw;
  }

  .spruchContainer2 {
    padding-top: 3rem;
  }

  .spruchContainer3 {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .ctaButton {
    display: flex;
    margin: 0;
    margin-bottom: 3rem;
    padding: 0;
  }
}
