.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--page-inline-width);
  margin-inline: auto;
  /* background-color: blue; */
  /* border: 1px solid var(--color1_1); */
}
.containerMain2 {
  width: var(--page-inline-width);
  /* border: 1px solid var(--color1_1); */
  border-radius: 1rem;
  /* backdrop-filter: blur(0.5rem); */
  /* background-color: green; */
}
.containerMain3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6rem;
  gap: 2rem;
  /* background-color: red; */
  width: var(--page-inline-width);
}

.containerMain4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6.3rem;
  /* background-color: red; */
  width: var(--page-inline-width);
}
.image {
  width: 35rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0px 2px 15px -3px var(--color1_2);
}

.image2 {
  object-fit: cover;
  width: 100%;
  height: 25rem;
  display: block;
  border-radius: 1rem;
  box-shadow: 0px 2px 15px -3px var(--color1_2);
}
.spruchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 35rem;
  box-shadow: 0px 2px 25px -10px var(--color1_3);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 20px;
  min-height: 14rem;
  max-height: 24rem;
  align-self: center;
  /* background: #fac38822; */

  /* background-color: blue; */
}
.spruchContainerLeft {
  align-self: center;
  text-align: right;
  height: 100%;
  width: 35rem;
  margin-right: 3rem;
}

.spruch {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color1);
  opacity: 0.8;
  /* font-style: italic; */
  /* line-height: 2rem; */
  text-align: left;
  padding-bottom: 1rem;

  /* border: 1px var(--color1) solid; */
}

.spruch2 {
  font-size: 1.2rem;
  /* letter-spacing: 1px; */
  font-weight: 400;
  /* font-style: italic; */
  color: var(--color1);
  opacity: 1;
  text-align: left;

  /* line-height: 2rem; */
}

.heading {
  font-size: 3.5rem;
  font-weight: 200;
  padding-bottom: 3rem;
  letter-spacing: 1px;
  opacity: 1;
}

.containerMain5 {
  display: flex;
  flex-direction: column;
  max-width: 33rem;
  margin-bottom: 2rem;
  opacity: 0.9;
  text-align: center;
}

@media (max-width: 1024) {
  .containerMain3 {
    flex-direction: column;
    align-items: center;
  }

  /* .spruchContainer {
    width: 100%;
    margin-top: 2rem;
  }
  .spruchContainerLeft {
    width: 100%;
    margin-right: 0rem;
    text-align: center; */
}

@media (max-width: 550) {
  /* .image {
    width: 90vw;
  } */

  .heading {
    font-size: 2.1rem;
  }
}
