.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--page-inline-width);
  margin-inline: auto;
  /* border: 1px solid var(--color1_1); */
}
.containerMain2 {
  width: var(--page-inline-width);
  /* border: 1px solid var(--color1_1); */
  border-radius: 1rem;
  /* backdrop-filter: blur(0.5rem); */
  /* background-color: green; */
}
.containerMain3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6rem;
  gap: 2rem;
  /* background-color: red; */
  width: var(--page-inline-width);
}

.containerMain4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
  /* background-color: red; */
  width: var(--page-inline-width);
}

.containerMain5 {
  display: flex;
  flex-direction: column;
  max-width: 33rem;
  margin-bottom: 2rem;
  opacity: 0.9;
  text-align: center;
}
.image {
  width: 35rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0px 2px 20px -3px var(--color1_3);
}

.divider {
  width: 100%;
  background-color: var(--color1_2);
  height: 1px;
  border: none;
}

.spruchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 35rem;
  box-shadow: 0px 2px 20px -3px var(--color1_3);
  border-radius: 1rem;
  padding: 2rem 2rem;
  margin-bottom: 20px;
  min-height: 14rem;
  max-height: 24rem;
  align-self: center;
  /* background: #fac38822; */

  /* background-color: blue; */
}

.spruchContainer2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 40rem;
  padding: 2rem 2rem 2rem 2rem;
  min-height: 9.5rem;
  border-radius: 1.25rem;
  /* border: 1px solid var(--color1_3); */
  /* box-shadow: 0px 2px 25px -10px var(--color1_4); */
  /* background: radial-gradient(var(--color1_3), var(--color2)); */
  overflow: hidden;
  align-self: center;
  margin-top: 1rem;
}

.spruch {
  font-size: 1.35rem;
  font-weight: 300;
  color: var(--color1);
  opacity: 1;
  /* font-style: italic; */
  /* line-height: 2rem; */
  text-align: left;
  padding-bottom: 0.8rem;

  /* border: 1px var(--color1) solid; */
}

.spruch2 {
  position: relative;
  z-index: 1;
  font-size: 1.2rem;
  /* letter-spacing: 1px; */
  font-family: bioRhyme;
  font-weight: 300;
  /* font-style: italic; */
  color: var(--color1);
  opacity: 1;
  text-align: center;
  box-shadow: 10px;

  /* line-height: 2rem; */
}

.spruch2_1 {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  /* letter-spacing: 1px; */
  font-weight: 400;
  /* font-style: italic; */
  color: var(--color1);
  opacity: 1;
  text-align: right;
  padding-top: 1rem;

  /* line-height: 2rem; */
}

.heading {
  font-size: 3.5rem;
  font-weight: 200;
  padding-bottom: 3rem;
  letter-spacing: 1px;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

@media (max-width: 1023) {
  .containerMain3 {
    flex-direction: column;
    align-items: center;
  }

  .spruchContainer {
    width: 100%;
    box-shadow: none;
  }

  .image2 {
    object-fit: cover;
    width: 100vw;
    max-height: 25rem;
    display: block;
    border-radius: 0rem;
    box-shadow: 0px 2px 15px -3px var(--color1_2);
    align-self: center;
  }

  .heading {
    font-size: 2.8rem;
  }
}

@media (max-width: 620) {
  .image {
    max-width: 90vw;
  }

  .containerMain,
  .containerMain2,
  .containerMain3 .containerMain4,
  .containerMain5 {
    max-width: 100%;
  }

  .heading {
    font-size: 1.8rem;
  }

  .image {
    width: 20rem;
  }

  .image2 {
    object-fit: cover;
    width: 100vw;
    max-height: 20rem;
    display: block;
    border-radius: 0rem;
    box-shadow: 0px 2px 15px -3px var(--color1_2);
    align-self: center;
  }
  .containerMain5 {
    width: 20rem;
  }
}
