.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin-inline: auto;
}
.containerMain2 {
  width: 80vw;
  padding: 3rem;
  border-radius: 3rem;
  /* background-color: var(--color4_1); */
  /* box-shadow: 0px 0px 12px var(--color4_1); */
  backdrop-filter: blur(10px);
  max-width: 1400px;
}
.containerMain3 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.image {
  width: 600px;
  height: auto;
  display: block;
  border-radius: 1.5rem;
  box-shadow: 0 0px 15px var(--color1_3);
}
.spruchContainer {
  align-self: center;
  height: 100%;
  width: 600px;
  margin-left: 2rem;
}
.spruchContainerLeft {
  align-self: center;
  height: 100%;
  width: 600px;
  margin-right: 2rem;
}

.spruch {
  font-size: 22px;
  font-style: italic;
  color: var(--color1);
  opacity: 0.9;
}
