.wrapper {
  width: var(--page-inline-width);
  margin-inline: auto;
  color: var(--color1);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.heading {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color1);
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;
}

.sections section {
  /* box-shadow: 0px 2px 25px -10px var(--color1_3);
  border-radius: 1rem;
  padding: 2rem; */
}

.sections section h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: var(--color3);
}

.sections section p + p {
  margin-top: 0.75rem;
}
