.wrapper {
  width: var(--page-inline-width);
  margin-inline: auto;
  color: var(--color1);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;
}

.sections h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: var(--color3);
}
