.containerMain {
  display: flex;
  flex-direction: column;
  width: var(--page-inline-width);
  margin-inline: auto;
  margin-bottom: 1rem;
}

.containerMain2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: clamp(2rem, 6vw, 5rem);
}

.columns {
  display: flex;
  flex-direction: column;
  flex: 1 1 50rem;
  max-width: 40rem;
  gap: 4rem;
}

.columns section {
  /* background: var(--color2); */
  /* box-shadow: 0px 2px 25px -10px var(--color1_3); */
  border-radius: 1rem;
  /* padding: 1rem; */
}

.columns h2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
  color: var(--color3);
  /* text-transform: uppercase; */
}

.columns ul {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  text-align: left;
}

.portrait {
  width: 16rem;
  height: 24rem;
  display: block;
  border-radius: 1rem;
  box-shadow: 0px 2px 15px -3px var(--color1_2);
  object-fit: cover;
  justify-self: center;
}

.portraitWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 2rem;
}
