.kontaktPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: var(--page-inline-width);
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.heading {
  font-size: 2rem;
}

.address {
  font-size: 1.2rem;
  margin-top: 0.75rem;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactDetails p {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.contactDetails span {
  font-size: 1.2rem;
  font-weight: 400;
  /* text-transform: uppercase; */
  letter-spacing: 0.08em;
  color: var(--color3);
}

.contactDetails a {
  font-size: 1rem;
  color: var(--color1);
}

.mapWrapper {
  width: 40rem;
  aspect-ratio: 4 / 3;
  margin-inline: auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.08);
}

.mapWrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
