.navbar {
  background-color: var(--color2);
  display: flex;

  height: 129px;
  align-items: center;
  color: var(--color1);
  border-bottom: solid 1px var(--color1);
}

.navItems {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 24px;
  margin-right: 3rem;
  font-size: 16px;
  font-weight: 400;
  outline-color: transparent;
}

.navLogo {
  margin-left: 3rem;
  font-weight: bold;
  align-items: center;
  display: flex;
}

.link:hover {
  font-weight: 600;
}
