.navbar {
  background-color: var(--color2);
  display: flex;
  height: 120px;
  align-items: center;
  color: var(--color1);
  border-bottom: solid 1px var(--color1);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navItems {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 24px;
  font-size: 16px;
  font-weight: 400;
  outline-color: transparent;
}

.navLogo {
  margin-left: 3rem;
  font-weight: bold;
  align-items: center;
  display: flex;
}

.link {
  display: flex;
  opacity: 0.8;
}

.link2 {
  display: flex;
  opacity: 0.8;
}
.link:hover {
  opacity: 1;
}
