.navbarDesktop {
  background-color: var(--color2);
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: center;
  color: var(--color1);
  /* border-bottom: solid 1px var(--color1_3); */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 0px 10px 0px var(--color1_3);
}

.navbarMobile {
  /* background-color: var(--color2); */
  /* background-color: red; */
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: center;
  color: var(--color1);
  /* border-bottom: solid 0.5px var(--color1_2); */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-left: 1rem;
  padding-right: 1rem;
}
.maxWidth {
  width: var(--page-inline-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.navLogo {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  opacity: 1;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  flex: 1;
  color: var(--color1);
  padding-left: 0rem;
  margin: 0;
}

.navItemsDiv {
  margin: 0;
  padding: 0;
  /* flex: 1; */
  /* justify-content: center; */
}

.navButton {
  display: flex;
  margin-right: 0rem;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

/* @media (max-width: 1200px) {
  .navButton {
    margin-right: 3rem;
  }
} */

.link {
  display: flex;
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.05em;
  transition: text-decoration-color 0.2s ease, color 0.2s ease; /* optional */
}

.link:hover {
  color: var(--color3);
  opacity: 0.9;
  text-decoration-color: var(--color3); /* fades in */
  text-decoration-thickness: 0.05em;
}

.link2 {
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
  opacity: 1;
  border: solid 1px var(--color1);
  transition: cubic-bezier(0, 0, 0, 1) 0.2s;
  padding: 8 10 10 10px;
  line-height: 1;
  /* font-size: 20px; */
  font-weight: 500;
  background-color: var(--color1);
  color: var(--color2);
}

.link2:hover {
  background-color: var(--color2);
  color: var(--color1);
  opacity: 1;
}

.burger {
  background-color: var(--color2);
  color: color1;
}

@media (min-width: 1025px) {
  .navbarMobile {
    display: none;
  }

  .burger {
    display: none;
  }
}
@media (max-width: 1024px) {
  .navbarDesktop {
    display: none;
  }
  .navItemsDiv {
    display: none;
  }
  .navButton {
    display: none;
  }
}
