.navbar {
  background-color: var(--color5);
  display: flex;
  height: 120px;
  align-items: center;
  color: var(--color1);
  border-bottom: solid 1px var(--color1_2);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  min-width: 1000px;
}

.navLogo {
  flex: 1;
  margin-left: 3rem;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  opacity: 1;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  flex: 1;
  padding-left: 2rem;
  margin: 0;
}

.navItemsDiv {
  margin: 0;
  padding: 0;
  /* flex: 1; */
  /* justify-content: center; */
}

.navButton {
  display: flex;
  margin-right: 3rem;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.link {
  display: flex;
  opacity: 1;
}

.link:hover {
  color: var(--color3);
  /* text-decoration: underline;
  text-decoration-color: var(--color1_1);
  text-decoration-thickness: 0.8; */
}

.link2 {
  display: inline-flex;
  align-items: center;
  border-radius: 999px;
  opacity: 0.85;
  border: solid 1px var(--color1);
  transition: ease-in 0.3s;
  padding: 8 10 10 10px;
  line-height: 1;
  /* font-size: 20px; */
  font-weight: 500;
  background-color: var(--color1);
  color: var(--color2);
}

.link2:hover {
  background-color: var(--color2);
  color: var(--color1);
  opacity: 1;
}
